$color-color-dark: #333;
$color-color-medium: #9B9B9B;

$color-color-topic: #C0C0C0;
$color-color-map: #C0C0C0;
$color-color-chronology: #C0C0C0;
$color-color-lookup: #C0C0C0;

$color-gray-dark: #8E8E8E;
$color-gray-medium: #C0C0C0;
$color-gray-light: #E0DFE0;
$color-gray-ultralight: #E9E9E9;

$color-text: #333;
