/*
 * Here you can import web-fonts and define the scss variables
 * used defining text fonts
 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-stack-display-typeface: 'Noto Sans', serif;
$font-stack-sans: 'Noto Sans', sans;

$font-stack-book-typeface: 'Noto Serif', serif;
$font-stack-serif: 'Noto Serif', serif;
